- content_for :head do
  = render 'shared/common_header'
%h1= @download.title
%h2
  by
  = @download.artist
%p This link will be active for 24 hours.
%p= link_to 'DOWNLOAD', download_attachment_path(@code.code)
